// ******************************************************

// INDEX

#exhibition-list
  column-count: 3
  column-gap: $gutter

// ******************************************************

// SINGLE

#exhibition-content
  column-count: 2
  column-gap: $gutter
