// ******************************************************

// INDEX

#exhibition-list
  column-count: 2
  column-gap: $gutter * 2

// ******************************************************

// SINGLE

#exhibition-content
  column-count: 2
  column-gap: $gutter * 2
